<h2>英文書取り練習</h2>
<p>問題の作成</P>
<%= render 'form', writing: @writing %>
<p id="notice"><%= notice %></p>
<br>

<table class='table table-bordered '>
  <thead bgcolor="#006e54">
    <tr>
      <th>Question：問題</th>
      <th>Correct：正解</th>
      <th>Hint：ヒント</th>
      <th>Explanation：解説</th>
      <th colspan="3">チェック</th>
    </tr>
  </thead>

  <tbody>
    <% @writings.each do |writing| %>
      <tr>
        <td><%= writing.question %></td>
        <td><%= writing.correct %></td>
        <td><%= writing.hint %></td>
        <td><%= writing.explanation %></td>
        <td><%= link_to '学習する', writing ,class: 'btn btn-primary btn-xs'%></td>
        <td><%= link_to '編集', edit_writing_path(writing) ,class: 'btn btn-info btn-xs'%></td>
        <td><%= link_to '削除', writing, method: :delete, data: { confirm: '削除してもよろしいですか?' } ,class: 'btn btn-warning btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
