
<p id="notice"><%= notice %></p>

<h1>記事</h1>
<%= link_to '記事の作成', new_article_path, class: 'btn btn-default btn-sm' %>
<br><br>


<% @articles.each do |article| %>
<table class='table '>
  <thead bgcolor="#006e54">
    <tr>
      <th>【<%= article.category %>】 <%= article.title %>　　　　<%=article.created_at%>
      </th>
    </tr>
  </thead>
    <tr>
      <td><%= simple_format(article.content) %>
        <br>
        <!-- 確認問題のタブ表示 -->
        <p>
        <div class="tab-content" ,style="text-align:right;">
          <input type="radio" id="tab<%=article.id %>1" name="tab<%=article.id %>" checked><label for="tab<%=article.id %>1">問題</label>
          <input type="radio" id="tab<%=article.id %>2" name="tab<%=article.id %>"><label for="tab<%=article.id %>2">ヒント</label>
          <input type="radio" id="tab<%=article.id %>3" name="tab<%=article.id %>"><label for="tab<%=article.id %>3">答え</label>
          <div class="tab-box">
            <div id="tabView<%=article.id %>1"><%= simple_format(article.tab1) %></div>
            <div id="tabView<%=article.id %>2"><%= simple_format(article.tab2) %></div>
            <div id="tabView<%=article.id %>3"><%= simple_format(article.tab3) %></div>
          </div>
        </div>
        </p>
        <%= link_to '編集', edit_article_path(article) ,class: 'btn btn-info '%>
        <%= link_to '削除', article, method: :delete, data: { confirm: '削除してもよろしいですか?' } ,class: 'btn btn-warning '%>

      </td>
    </tr>
</table>
<% end %>
