<%= form_with(model: math_work, local: true, html: {class: 'form-horizontal', role: 'form'}) do |form| %>
  <% if math_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(math_work.errors.count, "error") %> prohibited this math_work from being saved:</h2>

      <ul>
      <% math_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :digit1：数１の桁数 , class: 'col-sm-2 control-label'%>
    <%= form.number_field :digit1, id: :math_work_digit1 %>
  </div>

  <div class='form-group'>
    <%= form.label :digit2：数２の桁数, class: 'col-sm-2 control-label' %>
    <%= form.number_field :digit2, id: :math_work_digit2 %>
  </div>

  <div class='form-group'>
    <%= form.label :operator：計算の種類, class: 'col-sm-2 control-label' %>
    <%= form.number_field :operator, id: :math_work_operator %>
  </div>

  <div class='form-group'>
    <%= form.label :times：問題数, class: 'col-sm-2 control-label' %>
    <%= form.number_field :times, id: :math_work_times %>
  </div>

  <div class="actions">
    <%= form.submit '登録/更新',class: 'btn btn-success btn-xs' %>
  </div>
<% end %>
